# ===============================
# common
# ===============================

spring:
  # 공용 설정 - Redis Cache 사용
  cache:
    type: redis

  # 공용 설정 - Redis
  data:
    redis:
      host: ${REDIS_HOST}
      port: ${REDIS_PORT}
      password: ${REDIS_PASSWORD:}

      repositories:
        enabled: false

# ===============================
# profile - local
# ===============================
---
spring:
  config:
    activate:
      on-profile: local

  # redis 추가 설정
  data:
    redis:
      timeout: 5000
      ssl:
        enabled: false

      lettuce:
        pool:
          max-active: 8
          max-idle: 6
          min-idle: 3
          max-wait: -1ms

app:
  redis:
    scan-count: 100

    redisson:
      connection-pool-size: 8
      connection-minimum-idle: 3
      idle-connection-timeout: 10000  # 10초
      retry-attempts: 3
      retry-delay-min: 500
      retry-delay-max: 1000

# ===============================
# profile - prod
# ===============================
---
spring:
  config:
    activate:
      on-profile: prod

  # redis 추가 설정
  data:
    redis:
      timeout: 10000
      ssl:
        enabled: true  # ssl 암호화 연결 여부 (AWS ElastiCache 에선 true, 로컬에선 false)

      lettuce:
        pool:
          max-active: 10
          max-idle: 8
          min-idle: 5
          max-wait: 10s

app:
  redis:
    scan-count: 1000

    redisson:
      connection-pool-size: 50
      connection-minimum-idle: 10
      idle-connection-timeout: 30000
      retry-attempts: 5
      retry-delay-min: 1000
      retry-delay-max: 2000