# ===============================
# common
# ===============================

spring:
  security:
    # OAuth2 Social Login
    oauth2:
      client:
        registration:

          # Google
          google:
            client-id: ${OAUTH2_GOOGLE_CLIENT_ID}         # Oauth2 google client id
            client-secret: ${OAUTH2_GOOGLE_CLIENT_SECRET} # Oauth2 google client secret
            scope:
              - profile
              - email
            redirect-uri: "{baseUrl}/api/v1/auth/google/callback"

# ===============================
# profile - local
# ===============================
---
spring:
  config:
    activate:
      on-profile: local


logging:
  level:
    org.springframework.security: INFO #DEBUG
    org.springframework.web.servlet.resource: INFO #TRACE


# ===============================
# profile - prod
# ===============================
---
spring:
  config:
    activate:
      on-profile: prod

