<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="app.finup.layer.domain.notice.mapper.NoticeMapper">

    <!-- 공통 SELECT 절 -->
    <sql id="noticeColumns">
        n.notice_id      AS noticeId,
        n.title          AS title,
        n.content        AS content,
        n.view_count     AS viewCount,
        n.cdate          AS cdate,
        n.udate          AS udate
    </sql>

    <!-- 목록 조회 -->
    <select id="search" resultType="NoticeRow">
        SELECT
        <include refid="noticeColumns"/>
        FROM notice n
        WHERE 1 = 1

        <!-- 필터 & 키워드 -->
        <if test="keyword != null and keyword != ''">
            <choose>
                <when test="filter == 'title'">
                    AND n.title LIKE CONCAT('%', #{keyword}, '%')
                </when>
                <when test="filter == 'content'">
                    AND n.content LIKE CONCAT('%', #{keyword}, '%')
                </when>
                <when test="filter == 'titleContent'">
                    AND (n.title LIKE CONCAT('%', #{keyword}, '%') OR n.content LIKE CONCAT('%', #{keyword}, '%'))
                </when>
            </choose>
        </if>
        <!-- 정렬 -->
        ORDER BY
        <trim suffixOverrides=",">
            <choose>
                <when test="order != null and order != ''">
                    <choose>
                        <when test="order == 'latest'">
                            n.cdate DESC,
                        </when>
                        <when test="order == 'oldest'">
                            n.cdate ASC,
                        </when>
                        <otherwise>
                            n.cdate DESC,
                        </otherwise>
                    </choose>
                </when>
                <otherwise>
                    n.cdate DESC,
                </otherwise>
            </choose>
        </trim>

        <!-- 페이징 -->
        LIMIT #{limit}
        OFFSET #{offset}
    </select>

    <!-- 총 개수 계산 -->
    <select id="countForSearch" parameterType="app.finup.layer.domain.notice.dto.NoticeDto$Search" resultType="int">
        SELECT COUNT(*)
        FROM notice n
        WHERE 1 = 1

        <if test="keyword != null and keyword != ''">
            <choose>
                <when test="filter == 'title'">
                    AND n.title LIKE CONCAT('%', #{keyword}, '%')
                </when>
                <when test="filter == 'content'">
                    AND n.content LIKE CONCAT('%', #{keyword}, '%')
                </when>
                <when test="filter == 'titleContent'">
                    AND (n.title LIKE CONCAT('%', #{keyword}, '%') OR n.content LIKE CONCAT('%', #{keyword}, '%'))
                </when>
            </choose>
        </if>
    </select>

    <update id="updateViewCount">
        UPDATE notice
        SET view_count = view_count +
            CASE notice_id
                <foreach collection="increments" index="noticeId" item="increment">
                    WHEN #{noticeId} THEN #{increment}
                </foreach>
            END
        WHERE notice_id IN
        <foreach collection="increments" index="noticeId" item="increment" open="(" separator="," close=")">
            #{noticeId}
        </foreach>
    </update>
</mapper>
