<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="app.finup.layer.domain.studyword.mapper.StudyWordMapper">

    <!-- 검색 메소드 -->
    <select id="search" resultType="StudyWordRow">
        SELECT sw.study_word_id, sw.name, sw.meaning, uf.file_path
        FROM study_word sw
        LEFT JOIN upload_file uf ON sw.study_word_id = uf.owner_id AND uf.file_owner = 'STUDY_WORD'
        WHERE 1=1 <!--검색 파라미터 추가를 위한 조건 (없을 시 하단의 필터 적용 불가) -->
        <if test="filter neq null and filter neq '' and keyword neq null and keyword neq ''">
            <choose>
                <when test="filter eq 'studyWordId'">
                    AND sw.study_word_id LIKE CONCAT('%', #{keyword}, '%')
                </when>
                <when test="filter eq 'name'">
                    AND sw.name LIKE CONCAT('%', #{keyword}, '%')
                </when>
                <when test="filter eq 'meaning'">
                    AND sw.meaning LIKE CONCAT('%', #{keyword}, '%')
                </when>
                <when test="filter eq 'nameMeaning'">
                    AND (sw.name LIKE CONCAT('%', #{keyword}, '%') OR sw.meaning LIKE CONCAT('%', #{keyword}, '%'))
                </when>
            </choose>
        </if>
        ORDER BY
        <trim suffixOverrides=","> <!-- IDE 자동완성을 위해 추가 -->
            <choose>
                <when test="order neq null and order neq ''">
                    <choose>
                        <when test="order eq 'latest'">
                            sw.cdate DESC,
                        </when>
                        <when test="order eq 'oldest'">
                            sw.cdate,
                        </when>
                        <when test="order eq 'name'">
                            sw.name,
                        </when>
                        <otherwise>
                            sw.cdate DESC,
                        </otherwise>
                    </choose>
                </when>
                <otherwise>
                    sw.cdate DESC,
                </otherwise>
            </choose>
        </trim>
        LIMIT #{limit} OFFSET #{offset}
    </select>

    <!-- 검색 메소드 카운트 쿼리 -->
    <select id="countForSearch" resultType="int">
        SELECT COUNT(*)
        FROM study_word sw
        WHERE 1=1
        <if test="filter neq null and filter neq '' and keyword neq null and keyword neq ''">
            <choose>
                <when test="filter eq 'studyWordId'">
                    AND sw.study_word_id LIKE CONCAT('%', #{keyword}, '%')
                </when>
                <when test="filter eq 'name'">
                    AND sw.name LIKE CONCAT('%', #{keyword}, '%')
                </when>
                <when test="filter eq 'meaning'">
                    AND sw.meaning LIKE CONCAT('%', #{keyword}, '%')
                </when>
                <when test="filter eq 'nameMeaning'">
                    AND (sw.name LIKE CONCAT('%', #{keyword}, '%') OR sw.meaning LIKE CONCAT('%', #{keyword}, '%'))
                </when>
            </choose>
        </if>
    </select>

</mapper>